<div class="container">
  <h2>
    {{ isEdit ? "Редактировать пользователя" : "Добавить пользователя" }}
  </h2>
  <div class="column">
    <form (ngSubmit)="submitForm()" [formGroup]="formUsers">
      <div class="input-box">
        <p>ИМЯ</p>
        <input formControlName="name" placeholder="Введите имя"/>
        <small
          *ngIf="
            formUsers.controls['name'].invalid &&
            (formUsers.controls['name'].dirty || formUsers.controls['name'].touched)
          "
          class="alert"
        >
          *Поле имя не может быть пустым.
        </small>
      </div>

      <div class="input-box">
        <p>USERNAME</p>
        <input formControlName="username" placeholder="Введите логин"/>
        <small
          *ngIf="
          formUsers.controls['username'].invalid &&
            (formUsers.controls['username'].dirty ||
            formUsers.controls['username'].touched)
          "
          class="alert"
        >
          *Поле логин не может быть пустым.
        </small>
      </div>

      <div class="input-box">
        <p>EMAIL</p>
        <input formControlName="email" placeholder="Введите email"/>

        <div
          *ngIf="
          formUsers.get('email')?.invalid &&
            (formUsers.get('email')?.touched || formUsers.get('email')?.dirty)
          "
          class="alert"
        >
          <small *ngIf="formUsers.get('email')?.errors?.['required']" class="alert">
            *Поле email не может быть пустым.
          </small>
          <small *ngIf="formUsers.get('email')?.errors?.['email']" class="alert">
            *Ведите корректный email.
          </small>
        </div>
      </div>

      <div class="input-box">
        <p>ТЕЛЕФОН</p>
        <input formControlName="phone" placeholder="Введите номер телефона"/>
        <small
          *ngIf="
          formUsers.controls['phone'].invalid &&
            (formUsers.controls['phone'].dirty || formUsers.controls['phone'].touched)
          "
          class="alert"
        >
          *Поле телефона не может быть пустым.
        </small>
      </div>

      <div class="buttons">
        <button (click)="onCancel()" class="btn-cancel">Отмена</button>
        <button
          [disabled]="formUsers.invalid"
          [mat-dialog-close]="userWithUpdateFields"
          class="btn-create"
          type="submit"
        >
          {{ isEdit ? "Сохранить" : "Создать" }}
        </button>
      </div>
    </form>
  </div>
</div>